/********************* HEADER AND MENU *****************/

.header {
	display: flex;
	width: 100%;
	height: 150px;
}

.header-mobile {
	display: none;
}

.logo {
	padding-left: 5em;
	height: 150px;
}

.main-menu,
.main-menu-li,
.main-menu-ul {
	display: flex;
	list-style: none;
	width: 80%;
	justify-content: space-evenly;
	align-items: center;
	font-weight: 400;
}

.main-menu a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 2px;
}

.main-menu a:hover {
	color: grey;
	transition: all 0.2s;
}

/**************************** FRONTIMAGE **********************/

.main-mid {
	width: 100%;
}

.image-div img {
	width: 100%;
	height: 25vh;
	object-fit: cover;
	object-position: 50% 52%;
}

.image-div {
	position: relative;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/************************ BOOKING **************************/
.container-booking {
	background-color: black;
	margin: 5em 15em;
	display: grid;
	grid-template-columns: 50% 50%;
}

.container-time {
	padding: 3em;
	outline: 3px dashed #4e4724;
	text-align: center;
	line-height: 2.5;
	letter-spacing: 2px;
}

.container-time hr {
	margin-top: 1em;
}

.heading-form {
	font-size: 35px;
	padding-bottom: 0.75em;
}

.heading-opening {
	font-size: 2.2em;
	font-weight: 600;
}

.heading-day {
	color: #998100;
	font-size: 30px;
}

.container-time h4 {
	padding-top: 2em;
	font-weight: bold;
}

.container-form {
	background-color: #0a0a0a75;
	max-width: 500px;
	width: 100%;
	padding: 1em;
	margin: 0 auto;
	display: grid;
	grid-row-gap: 20px;
}

.form-field form p {
	font-weight: 600;
}

.form-field {
	display: flex;
	padding-top: 0.5em;
	justify-content: space-between;
}

.form-field input,
.form-field select,
.form-field option {
	color: black;
	padding: 0.9em 1em;
}

.form-btn {
	color: rgb(255, 255, 255);
	background-color: #000000;
	border: white solid 1px;
	padding: 0.7em 1.5em;
	margin-top: 1.5em;

	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.form-btn:hover {
	transition: all 0.4s;
	background-color: #0e0e0ea2;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-weight: 600;
	border: rgb(255, 255, 255) solid 1px;
}

/************************ 	FOOTER *********************/

footer {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 250px;
	display: flex;
	padding-right: 5em;
	padding-top: 7em;
	padding-bottom: 1.5em;
	align-items: center;
	justify-content: center;
	gap: 300px;
}

.address {
	color: white;
	line-height: 1.5;
	letter-spacing: 2px;
	margin-left: 5em;
}

.copyright {
	color: white;
	letter-spacing: 2px;
	align-self: flex-end;
}

.opening-hours {
	text-align: left;
	color: white;
	line-height: 1.75;
	letter-spacing: 2px;
	padding-top: 2em;
	padding-bottom: 4em;
}

.opening-hours-ul {
	list-style: none;
}

.icons {
	font-size: 2em;
	padding-top: 1em;
	display: flex;
	gap: 25px;
	justify-content: flex-start;
}

.icons a {
	color: white;
}

/*********************** MOBILE SMALL ****************************/

@media (max-width: 377px) and (min-width: 360px) {
	.header {
		display: none;
	}

	/************************' RESPONSIVE NAV **************/

	.header-mobile {
		display: flex;
		justify-content: space-between;
	}

	.fa-solid {
		color: #9e9985;
		font-size: 1.5rem;
		display: block;
		margin-right: 1em;
		margin-top: 1em;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0); /* Black*/
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #9e9985;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		height: 80px;
		width: 100px;
		padding: 0;
		margin-left: 1em;
	}

	/******************** BOOKING ******************/

	.menu-book {
		padding-top: 6px;
	}

	.container-booking {
		padding-top: 2em;
		margin: 0;
		font-size: 11px;
		display: flex;
		flex-direction: column;
	}

	.form-field {
		height: 4em;
	}

	.container-time {
		padding-top: 1.5em;
		font-size: 10px;
		outline-offset: -15px;
		padding-bottom: 3em;
		padding-top: 1.5em;
		margin-left: 2em;
		margin-right: 2em;
		line-height: 2;
	}

	.heading-form {
		font-size: 2em;
		padding-bottom: 1em;
	}

	.container-form {
		padding-bottom: 1em;
		margin: 3em 1em 3em 1em;
		width: 90%;
	}

	.form-field input {
		height: 25px;
	}

	.form-btn {
		height: 2em;
		padding-top: 0.4em;
	}

	/****************** FOOTER *****************/
	footer {
		height: 100px;
		width: 100%;
		gap: 50px;
		font-size: 9px;
		justify-content: space-evenly;
		padding-right: 0em;
	}

	.copyright {
		display: none;
	}

	.opening-hours {
		margin-top: 2em;
		line-height: 1.6;
		padding: 0;
		margin-right: 3em;
	}

	.address {
		margin-top: 18em;
		margin-bottom: 5.5em;
	}

	.icons {
		gap: 15px;
		margin-bottom: 3em;
	}
}

/************************** MOBILE LARGE - MEDIUM **** ***********/

@media (max-width: 430px) and (min-width: 378px) {
	.header {
		display: none;
	}
	/*************** RESPONSIVE NAV ***********/
	.header-mobile {
		display: flex;
		justify-content: space-between;
	}

	.fa-solid {
		color: #d4d4d4;
		font-size: 1.5rem;
		display: block;
		margin-right: 1em;
		margin-top: 1em;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #d6d6d6;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		height: 80px;
		width: 80px;
		padding: 0;
		margin-left: 1em;
	}

	/*************************** BOOKING ****************/

	.menu-book {
		padding-top: 6px;
	}

	.container-booking {
		padding-top: 2em;
		margin: 0;
		font-size: 12px;
		display: flex;
		flex-direction: column;
	}

	.form-field {
		height: 4em;
	}

	.container-time {
		padding-top: 1.5em;
		outline-offset: -15px;
		padding-bottom: 2em;
		margin-left: 2em;
		margin-right: 2em;
	}

	.heading-form {
		font-size: 2em;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.container-form {
		padding-bottom: 2em;
		margin: 2em 2em 4em 2em;
		width: 90%;
	}

	.form-field input {
		height: 25px;
	}

	.form-btn {
		height: 2em;
		padding-top: 0.4em;
	}

	.arrow-down {
		display: none;
	}

	/******************** FOOTER *****************/
	footer {
		height: 100px;
		width: 100%;
		gap: 50px;
		font-size: 9px;
		justify-content: space-evenly;
		padding-right: 0em;
	}

	.copyright {
		display: none;
	}

	.opening-hours {
		margin-top: 2em;
		line-height: 1.6;
		padding: 0;
		padding-right: 5em;
	}

	.address {
		margin-top: 18em;
		margin-bottom: 5.5em;
	}

	.icons {
		gap: 15px;
		margin-bottom: 3em;
	}
}

/********************* TABLET **************************/

@media (min-width: 750px) and (max-width: 1000px) {
	.logo {
		height: 90px;
		width: 90px;
		padding: 0;
		padding-bottom: 0.5em;
	}

	.dropdown-content a {
		display: none;
	}

	.header {
		height: 80px;
		justify-content: space-evenly;
	}

	.main-menu-ul {
		width: 400px;
	}
	.main-menu a {
		font-size: 10px;
		text-align: center;
	}

	.dropdown .dropbtn {
		font-size: 7px;
		margin-top: 6px;
	}

	.languages {
		display: none;
	}

	.login-signup {
		display: flex;
		text-transform: uppercase;
		line-height: 0.5;
	}

	.login-signup a {
		font-size: 10px;
	}

	.login-signup {
		margin-left: 8px;
		gap: 10px;
	}

	.menu-book {
		padding-top: 6px;
	}

	.arrow-down {
		display: none;
	}

	/************************** BOOKING ******************/

	.container-booking {
		padding-top: 2em;
		margin: 0;
		font-size: 14px;
		display: flex;
		flex-direction: column;
	}

	.form-field {
		height: 4em;
	}

	.container-time {
		width: 50%;
		padding-top: 1.5em;
		outline-offset: -15px;
		padding-bottom: 3em;
		margin-bottom: 2em;
		margin-left: 14em;
	}

	.heading-opening {
		font-size: 2em;
	}

	.heading-form {
		font-size: 2.5em;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.container-form {
		padding-bottom: 2em;
		margin-bottom: 2em;
		width: 100%;
	}

	.form-field input {
		height: 25px;
	}

	.form-btn {
		height: 2em;
		padding-top: 0.4em;
	}

	/************************* FOOTER *****************/
	footer {
		height: 100px;
		width: 100%;
		gap: 50px;
		font-size: 14px;
		justify-content: space-between;
		padding-left: 4em;
		padding-right: 4em;
		margin-top: 4em;
	}

	.opening-hours {
		margin-bottom: 2em;
		padding: 0;
		margin-right: 2em;

		line-height: 1.7;
	}

	.copyright {
		display: none;
	}

	.address {
		margin-top: 18em;
		margin-bottom: 10em;
		line-height: 1.7;
	}

	.icons {
		gap: 15px;
		margin-bottom: 3em;
	}
}
