/********************* HEADER AND MENU ****************/

.header {
	display: flex;
	width: 100%;
	height: 150px;
}

.header-mobile {
	display: none;
}

.logo {
	padding-left: 5em;
	height: 150px;
}

.main-menu,
.main-menu-li,
.main-menu-ul {
	display: flex;
	list-style: none;
	width: 80%;
	justify-content: space-evenly;
	align-items: center;
	font-weight: 400;
}

.main-menu a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 2px;
}

.main-menu a:hover {
	color: grey;
	transition: all 0.2s;
}

/****************'***** FRONTIMAGE *****************/

.main-mid {
	width: 100%;
}

.image-div img {
	width: 100%;
	height: 25vh;
	object-fit: cover;
	object-position: 50% 52%;
}

.image-div {
	position: relative;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/*********************** CONTACT *********************/

.contact {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding-top: 2em;
}

.contact p {
	letter-spacing: 1.5px;
	text-align: center;
	line-height: 1.75;
	font-size: 18px;
}

.contact-container {
	border-radius: 5px;
	padding: 2em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.contact-container form {
	width: 50%;
}
.contact-container input[type='text'],
.contact-container input[type='email'] {
	width: 100%;
	padding: 1em;
	border: none;
	height: 20px;
	border-radius: 4px;
	margin-top: 1em;
	margin-bottom: 1em;
	resize: vertical;
}

.contact-container textarea {
	height: 100px;
	width: 100%;
	padding: 1em;
	border: none;
	height: 100px;
	border-radius: 4px;
	margin-top: 1em;
	margin-bottom: 1em;
	resize: vertical;
}

.contact-container input[type='submit'] {
	background-color: #000000;
	color: white;
	margin-top: 2em;
	padding: 1em 3em;
	border: 1px white solid;
	margin-left: 0;

	font-weight: 600;
	cursor: pointer;
}

.contact-container input[type='submit']:hover {
	background-color: #0a0a0a;
	cursor: pointer;
	border: rgb(255, 255, 255) 1px solid;
	color: rgb(255, 255, 255);
	font-weight: 600;
	transition: all 0.2s;
}

/****************** 	FOOTER *******************/

footer {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 250px;
	display: flex;
	padding-right: 5em;
	padding-top: 5em;
	padding-bottom: 1.5em;
	align-items: center;
	justify-content: center;
	gap: 300px;
}

.address {
	color: white;
	line-height: 1.5;
	letter-spacing: 2px;
}

.copyright {
	color: white;
	letter-spacing: 2px;
	align-self: flex-end;
	padding-left: 4em;
}

.opening-hours {
	text-align: left;
	color: white;
	line-height: 1.75;
	letter-spacing: 2px;
	padding-bottom: 2em;
}

.opening-hours-ul {
	list-style: none;
}

.icons {
	font-size: 2em;
	padding-top: 1em;
	display: flex;
	gap: 25px;
	justify-content: flex-start;
}

.icons a {
	color: white;
}

/* Responsive */

@media (max-width: 377px) and (min-width: 360px) {
	/************************ NAV **************/

	.header {
		display: none;
	}

	.header-mobile {
		display: flex;
		justify-content: space-between;
	}

	.fa-solid {
		color: #bdbcba;
		font-size: 1.5rem;
		display: block;
		margin-right: 1em;
		margin-top: 1em;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0); /* Black*/
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #bdbcb9;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		height: 80px;
		width: 100px;
		padding: 0;
		margin-left: 1em;
	}

	/******************* CONTACT ************************/

	.contact {
		font-size: 0.8em;
	}
	.contact p {
		font-size: 0.8em;
		width: 70%;
	}

	.contact-container {
		padding: 0;
		padding-top: 2em;
		font-size: 0.8em;
	}

	.contact-container form {
		width: 70%;
	}

	.contact-container input[type='text'] {
		height: 10px;
	}

	.contact-container textarea {
		height: 50px;
	}

	.contact-container input[type='email'] {
		height: 10px;
	}

	.contact-container input[type='submit'] {
		margin-top: 1em;
		margin-bottom: 2em;
		padding: 0.5em 2em;
		margin-left: 0em;
	}

	/*************** FOOTER *********************/
	footer {
		height: 100px;
		width: 100%;
		gap: 50px;
		font-size: 9px;
		justify-content: space-evenly;
		padding-right: 0em;
	}

	.copyright {
		display: none;
	}

	.opening-hours {
		margin-top: 2em;
		padding: 0;
		padding-right: 3em;
		line-height: 1.6;
	}

	.address {
		margin-top: 17em;
		margin-bottom: 5.5em;
		padding-left: 3em;
	}

	.icons {
		gap: 15px;
		margin-bottom: 3em;
	}
}

@media (max-width: 430px) and (min-width: 378px) {
	.header {
		display: none;
	}
	/***************  NAV **************/
	.header-mobile {
		display: flex;
		justify-content: space-between;
	}

	.fa-solid {
		color: #dfdedd;
		font-size: 1.5rem;
		display: block;
		margin-right: 1em;
		margin-top: 1em;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0); /* Black*/
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #cccccc;
		display: block;
		transition: 0.3s;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		height: 80px;
		width: 100px;
		padding: 0;
		margin-left: 1em;
	}

	/************* CONTACT ********************/

	.contact {
		margin-top: 0.5em;
	}
	.contact p {
		font-size: 0.7em;
		width: 70%;
	}

	.contact-container {
		padding: 0;
		padding-top: 2em;
		font-size: 1em;
	}

	.contact-container form {
		width: 70%;
	}

	.contact-container input[type='text'] {
		height: 1em;
	}

	.contact-container textarea {
		height: 100px;
	}

	.contact-container input[type='email'] {
		height: 10px;
	}

	.contact-container input[type='submit'] {
		margin-top: 1em;
		margin-bottom: 2em;
		padding: 1em 3em;
		margin-left: 0em;
	}

	/*************** FOOTER **********************/
	footer {
		height: 100px;
		width: 100%;
		gap: 50px;
		font-size: 9px;
		justify-content: space-evenly;
		padding-right: 0em;
	}

	.copyright {
		display: none;
	}

	.opening-hours {
		margin-top: 4em;
		line-height: 1.6;
	}

	.address {
		margin-top: 18em;
		margin-bottom: 5.5em;
	}

	.icons {
		gap: 15px;
		margin-bottom: 3em;
	}
}

/************* TABLET **********************/

@media (min-width: 750px) and (max-width: 1000px) {
	.logo {
		height: 90px;
		width: 90px;
		padding: 0;
		padding-bottom: 0.5em;
	}

	.dropdown-content a {
		display: none;
	}

	.header {
		height: 80px;
		justify-content: space-evenly;
	}

	.main-menu-ul {
		width: 400px;
	}
	.main-menu a {
		font-size: 10px;
		text-align: center;
	}

	.dropdown .dropbtn {
		font-size: 7px;
		margin-top: 6px;
	}

	.languages {
		display: none;
	}

	.login-signup {
		display: flex;
		text-transform: uppercase;
		line-height: 0.5;
	}

	.login-signup a {
		font-size: 10px;
	}

	.login-signup {
		margin-left: 8px;
		gap: 10px;
	}

	.menu-book {
		padding-top: 6px;
	}

	.arrow-down {
		display: none;
	}

	/************* CONTACT *******************/

	.contact {
		margin-top: 1em;
		font-size: 1.2em;
	}
	.contact p {
		font-size: 1em;
	}

	.contact-container {
		padding: 0;
		padding-top: 2em;
		font-size: 1em;
		margin-bottom: 1em;
	}

	.contact-container input[type='text'] {
		height: 1em;
	}

	.contact-container textarea {
		height: 100px;
	}

	.contact-container input[type='email'] {
		height: 10px;
	}

	.contact-container input[type='submit'] {
		margin-top: 1em;
		margin-bottom: 2em;
		padding: 1em 3em;
		margin-left: 0.5em;
	}

	/*************** FOOTER **************'*******/
	footer {
		height: 100px;
		width: 100%;
		gap: 50px;
		font-size: 14px;
		justify-content: space-between;
		padding-left: 2em;
		padding-right: 2em;
		margin-top: 3em;
	}

	.opening-hours {
		margin-bottom: 2em;
		padding: 0;
		padding-right: 3em;
		line-height: 1.7;
	}

	.copyright {
		display: none;
	}

	.address {
		margin-top: 18em;
		margin-left: 3em;
		margin-bottom: 10em;
		line-height: 1.7;
	}

	.icons {
		gap: 15px;
		margin-bottom: 3em;
	}
}
