/*********************   MOBILE MENU **********************/

.header-mobile {
	display: none;
}

/*********************** DESKTOP MENU ******************/

.header {
	display: flex;
	width: 100%;
	height: 150px;
}

.header-mobile {
	display: none;
}

.logo {
	padding-left: 5em;
	height: 150px;
}

.main-menu,
.main-menu-li,
.main-menu-ul {
	display: flex;
	list-style: none;
	width: 80%;
	justify-content: space-evenly;
	align-items: center;
	font-weight: 400;
}

.main-menu a {
	text-decoration: none;
	color: white;
	font-size: 19px;
	letter-spacing: 2px;
}

.main-menu a:hover {
	color: grey;
	transition: all 0.2s;
}

/*********************** HERO *********************/

.hero-container {
	position: relative;
	display: flex;
	color: white;
	align-items: center;
}

.hero-container img {
	width: 100%;
	height: 50vh;
	object-position: 50% 45%;
	object-fit: cover;
}

.name-wrapper {
	background: rgba(14, 13, 11, 0.253);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.1px);
	-webkit-backdrop-filter: blur(3.1px);
	width: 100%;
	height: 35%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 14%;
	letter-spacing: 1px;
	font-weight: 800;
}

.name-text {
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
}

.under-text {
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
}

/********************* MID SECTION IMG TEXT ****************/

.club-section {
	margin: 5% 10% 5% 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.club-section img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
	object-position: 50% 65%;
}

.club-text-container {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.club-text-wrapper {
	width: 25vw;
	padding-right: 5%;
}

.club-text {
	padding: 2em;
	font-size: 1em;
	letter-spacing: 2px;
	width: 100%;
	height: 30vh;
	line-height: 1.3;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

/********************** MENU AND RESERVE ******************/

.menu-reserve-section {
	width: 100%;
	font-family: var(--cursive);
	padding: 0 10%;
}

.menu-reserve-container {
	display: flex;
	height: auto;
	justify-content: space-between;
	width: 100%;
}

.menu-reserve-container img {
	height: 50vh;
	width: 100%;
	position: relative;
}

.menu-wrapper,
.booking-wrapper {
	position: relative;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.menu-text,
.booking-text {
	position: absolute;
	background-color: black;
	padding: 1.5em 2em;
}

.menu-text a,
.booking-text a {
	font-size: 2em;
}

.menu-text a:hover,
.booking-text a:hover {
	color: var(--accent-color);
	transition: all 0.4s;
}

/**************** MAILINGLIST **************/

.mailinglist-section {
	margin: 5% 0;
	width: 100%;
}

.mailinglist-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mailinglist-container h3 {
	font-family: var(--cursive);
	font-size: 3em;
}

.mailinglist-text {
	padding: 1.5em;

	font-size: 1em;
}

.mailinglist-form {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
}

.mailinglist-form label {
	font-style: italic;
}

.mailinglist-form input {
	padding: 0.5em;
}

.submit-btn {
	padding-top: 2vh;
	align-self: center;
}

#mailinglist-btn {
	font-family: var(--cursive);
	padding: 0.3em 2em;
	font-size: 1.5em;
	width: 100%;
	font-weight: 600;
	background-color: black;
	border: solid white 1px;
}

#mailinglist-btn:hover {
	background-color: var(--accent-color);
	transition: all 0.4s;
	color: black;
	border: solid 1px black;
	transition: all 0.4s;
	cursor: pointer;
}

/****************** 	FOOTER ****************/

footer {
	margin-top: 2vh;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.address {
	line-height: 1.5;
	letter-spacing: 2px;
}

.copyright {
	letter-spacing: 2px;
}

.opening-hours {
	text-align: left;
	line-height: 1.75;
	letter-spacing: 2px;
	padding-top: 2em;
	padding-bottom: 2em;
}

.icons {
	font-size: 1.8em;
	padding-top: 1em;
	display: flex;
	justify-content: flex-start;
	gap: 1.5vw;
}

/* RESPONSIVE */

@media (max-width: 420px) and (min-width: 360px) {
	.name-wrapper {
		height: auto;
		margin-bottom: 20%;
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
	}

	.name-wrapper h1 {
		font-size: 2em;
	}

	.name-wrapper p {
		font-size: 1.5em;
	}

	.hero-container img {
		height: 25vh;
		object-position: top;
	}

	/* MOBILE NAV */

	.header {
		display: none;
	}

	/*************** RESPONSIVE NAV ***********/
	.header-mobile {
		display: flex;
		justify-content: space-between;
	}

	.fa-solid {
		color: #dad8d3;
		font-size: 1.5rem;
		display: block;
		margin-right: 1em;
		margin-top: 1em;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #dbdbd8;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		height: 80px;
		width: 80px;
		padding: 0;
		margin-left: 1em;
	}

	/* MID SECTION */

	.club-section {
		margin: 10%;
	}

	.club-section img {
		width: 100%;
		height: 40vh;
	}

	.club-text-wrapper {
		width: 38vw;
		padding-right: 3%;
	}

	.club-text {
		font-size: 0.5em;
		padding: 1.3em;
		height: 25vh;
	}

	/********************** MENU AND RESERVE ******************/

	.menu-reserve-container img {
		height: 20vh;
		width: 100%;
		object-fit: cover;
	}

	.menu-text,
	.booking-text {
		padding: 1em;
	}

	.menu-text a,
	.booking-text a {
		font-size: 1em;
	}

	/**************** MAILINGLIST **************/

	.mailinglist-section {
		margin: 15% 0;
	}

	.mailinglist-container h3 {
		font-family: var(--cursive);
		font-size: 1.5em;
	}

	.mailinglist-text {
		padding: 2em;
		text-align: center;
		font-size: 0.8em;
	}

	.mailinglist-form {
		width: 80%;
		font-size: 0.8em;
	}

	/****************** 	FOOTER ****************/

	footer {
		margin-top: 3vh;
		margin-bottom: 3vh;
		padding: 0 5%;
		font-size: 0.3em;
	}

	.address {
		line-height: 1.7;
		letter-spacing: 2px;
	}

	.copyright {
		width: 20%;
		text-align: center;
		font-size: 7px;
	}

	.opening-hours {
		padding-bottom: 15%;
	}

	.icons {
		font-size: 1rem;
	}
}
